# Primary parsing & bioinformatics
beautifulsoup4==4.12.3
biotite==0.40.0

# Structural‑bio deep‑learning models
fair-esm==2.0.0
igfold==0.4.0

# Utilities & plotting
joblib==1.4.2
lmdb==1.4.1
logomaker==0.8
ml-collections==0.1.1
tqdm==4.66.2

# Machine‑learning & data ecosystem
scikit-learn==1.4.2
seaborn==0.13.2

# Minimal back‑compat helpers
six==1.16.0
